/* Basic styling for the chatbox */
#chatbox {
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
}

#messageInput {
    width: 100%;
    padding: 5px;
}

#messages {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#messages li {
    margin-bottom: 5px;
}

.container {
    /* width: 80%; */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    margin: 0 auto; /* This centers the container horizontally */
    /* text-align: center;  */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#send {
    background-color: #4CAF50; /* Green send button */
    color: white;
    margin-left: 5px; /* Slight spacing between buttons */
}

/* Buttons */
button {
    padding: 10px 15px; /* More padding for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


